<template>
    <layout>
        <pre>
1. Hash模式
    1.1 /#/route1/route2?name=value：后端正常返回当前目录下index.html;css和js正常加载，路由组件默认处理了Url片段。
    1.2 /path1/path2/#route1/route2?name=value：后端正常返回当前目录下index.html;css和js正常加载，路由组件默认处理了Url片段。
2. History模式
    2.1 /route1/route2?name=value：后端返回/index.html下内容和/route1/route2?name=value作为路由path。
        2.1.1 通过重定向返回时，css和js正常加载；
        2.1.2 不通过重定向返回时，需要把index.html的路径和路由path以response head或cookie的方式返回给前端，前端在加载css和js前，先history.replaceState成index.html所在的path，保证css和js可以正常加载。
        2.1.3 此时可以push路由path，地址栏的url会恢复正常
    2.2 /path1/path2/route1/route2?name=value：返回 /path1/path2/index.html内容和/route1/route2?name=value作为路由path
        2.2.1 同上
        2.2.2 同上
        2.2.3 同上
3. 重定向还是不重定向
    3.1 重定向：不需要处理header或cookie，不需要在加载css前进行history.replaceState
    3.2 不重定向：不会跳转
</pre>
        <h1>Vue 组件测试</h1>
        <test1></test1>
        <component is="test2"></component>
        <component :is="'test-test3'"></component>
        <test4></test4>
    </layout>
</template>
<script>
    export default {
        mounted: function () {
            console.log('home');
        }
    }
</script>
<style>
    h1 {
        color: brown;
    }
</style>