<template>
    <div :style="style" ref="icontainer" @onresize="resize" class="iframe-container">
        <iframe ref="iframe" frameborder="0"></iframe>
    </div>
</template>
<script>
    export default {
        props: ["src"],
        mounted() {
            this.$nextTick(() => {
                this.$refs.iframe.src = this.src;
            });
        },
        methods: {
            resize() {
                // this.$refs.iframe.width = this.$refs.icontainer.clientWidth;
                // this.$refs.iframe.height = this.$refs.icontainer.clientHeight;
            }
        }
    };
</script>
<style>
    .iframe-container>iframe {
        width: 100%;
        height: 100%;
    }
</style>