<template>
    <layout>
        <p class="greeting">{{ test() }}</p>
        <my-iframe src="https://localhost" style="width:50%;height:200px;"></my-iframe>
    </layout>
</template>

<script>
//import Enumerable from "./lib/linq/linq.js";
import Enumerable from "linq";

export default {
    data() {
        return {
            greeting: "Hello World!",
        };
    },
    methods: {
        test() {
            return Enumerable.from("1,2,3,6,5,4".split(","))
                .orderBy()
                .toArray();
        },
    },
};
</script>
<style>
    @import url("./css/mk.css");
    p{
        color: red;
    }
</style>
