<template>
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" mode="horizontal">
                <el-menu-item v-for="menu in model.menus" :index="menu.path">
                    <router-link :to="menu.path">{{menu.text}}</router-link>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-container>
            <el-aside width="200px">Aside</el-aside>
            <el-container>
                <el-main>
                    <slot></slot>
                </el-main>
                <el-footer>
                    <div style="text-align:center;">© 2021 Company, Inc.</div>
                </el-footer>
            </el-container>
        </el-container>
    </el-container>
</template>
<script>
    export default {
        data() {
            return {
                model: {
                    active: '/',
                    menus: []
                }
            };
        },
        mounted: function () {
            setTimeout(o => {
                this.model = {
                    active: '/',
                    menus: [
                        {
                            text: '首页',
                            path: '/',
                        },
                        {
                            text: 'SPA',
                            path:'/views/spa'
                        },
                        {
                            text: 'Test',
                            path:'/views/test/page3'
                        }
                    ]
                };
            });
        }
    }
</script>
<style>
    .navbar {
        padding: 1em;
    }
</style>