<template>
    <el-menu-item v-for="menu in model.menus" :index="menu.path">
        <router-link :to="menu.path">{{menu.text}}</router-link>
    </el-menu-item>
</template>
<script>
    export default {
        data() {
            return {
                model: {
                    menus: []
                }
            };
        },
        mounted: function () {
            setTimeout(o => {
                this.model = {
                    active: '/',
                    menus: [
                        {
                            text: '首页',
                            path: '/'
                        },
                        {
                            text: 'HTML',
                            path: '/html'
                        },
                        {
                            text: 'CSS',
                            path: '/css'
                        },
                        {
                            text: 'JavaScript',
                            path: '/javascript'
                        },
                        {
                            text: 'test',
                            path: '/test/test'
                        },

                    ]
                };
            });
        }
    }
</script>